<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js" integrity="sha256-Gf7owtNug1Hx/SyBFHX+wOBCo6BH4ucEyTZOD+85yNA=" crossorigin="anonymous"></script>
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
    
    <script src='https://unpkg.com/vue@3'></script>
    
    <link rel="stylesheet" href="assets/css/style.css">


    <title>Boolzapp</title>
</head>
<body>

    <div id="app" class="main-wrapper">

        <div class="main-container">

            <div class="col-left">

                <div class="header-top-left">

                    <div class="container-avatar">

                        <img src="assets/img/teo_89scuro.png" alt="">
                        <span>Matteo</span>

                    </div>

                    <div class="container-icons">

                        <i class="fa-solid fa-circle-notch"></i>

                        <i class="fa-solid fa-message"></i>

                        <i class="fa-solid fa-ellipsis-vertical"></i>

                    </div>
                </div>

                <div class="container-notification">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="notification-text">
                        <p>Ricevi notifiche nuovi messaggi</p>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>

                <div class="area-input">

                    <div class="container-input">

                        <i class="fa-solid fa-magnifying-glass"></i>

                        <input 
                            type="text"
                            placeholder="Cerca o inizia una nuova chat"
                            v-model="search"
                            @keyup="filteredContacts()">
                    </div>
                </div>

                <div class="main-container-message">

                    <div
                        v-for="(contact, index) in contacts"
                        v-show="contact.visible"
                        @click="selectIndex(index)"
                        :class="{'active' : index === activeIndex} "
                        class="container-message">

                        <img :src="'assets/img/avatar'+contact.avatar+'.jpg'" :alt="'avatar di '+ contact.name">

                        <div class="info-message">

                            <span class="name-user-message">{{contact.name}}</span>

                            <span class="last-send-message">{{lastMessage(index)}}</span>
                        </div>

                        <span class="hours-message">{{lastDate(index)}}</span>
                    </div>
                </div>
            </div>

            <div class="col-right">

                <div class="header-right">

                    <div
                        
                        class="avatar-name-status">

                        <img :src="'assets/img/avatar'+contacts[activeIndex].avatar+'.jpg'" :alt="'avatar di '+ contacts[activeIndex].name">

                        <div class="name-status">
                            <span class="name-user">{{contacts[activeIndex].name}}</span>
                            <span
                                v-for="(msg, i) in contacts[activeIndex].messages"
                                class="status">Ultimo accesso alle {{msg.date.substr(11, 5)}}</span>
                        </div>
                    </div>

                    <div class="header-icons">

                        <i class="fa-solid fa-magnifying-glass"></i>

                        <i class="fa-solid fa-paperclip"></i>

                        <i class="fa-solid fa-ellipsis-vertical"></i>

                    </div>
                </div>

                <div class="message-area">
                    <!-- Formulina (ricerca google: https://michaelnthiessen.com/conditional-class-binding-vue ) con ternario per assegnare le due classi -->
                    <div
                        v-for="singleMsg in contacts[activeIndex].messages"
                        :class="singleMsg.status"
                        class="message">

                        <p>{{singleMsg.message}}</p>
                        <span>{{singleMsg.date.substr(11, 5)}}</span>
                    </div>

                </div>

                <div class="footer-right">

                    <i class="fa-regular fa-face-smile"></i>

                    <input
                        type="text"
                        placeholder="Scrivi un messaggio"
                        v-model="valueNewMsg"
                        @keyup.enter="createMessage()">

                    <i class="fa-solid fa-microphone"></i>
                </div>

            </div>
        </div>
    </div>
    

    <script src="assets/js/app.js"></script>
</body>
</html>